<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>Equilibrium Experiment</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>

    <link rel="stylesheet" href="/css-file/sai.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <style>
        .weights {
            display: flex;
            gap: 10px;
        }

        .weight {
            cursor: pointer;
            padding: 5px 10px;
            border: 1px solid #ccc;
            background-color: #f9f9f9;
        }
    </style>
</head>

<body>

    <canvas id="simulationCanvas"></canvas>
    <div class="controls-container">
        <div class="massInput">
            <div class="control-header">
                <label for="massSlider">Mass <i class="fas fa-weight-hanging"></i></label>
                <span id="massValue">500 g</span>
            </div>
            <div class="slider-container">
                <button id="mass-decrease" class="arrow-btn"><i class="fas fa-chevron-left"></i></button>
                <div class="slider-wrapper">
                    <span class="slider-limit">0</span>
                    <input type="range" id="massSlider" min="0" max="650" value="0" step="10"
                        oninput="massValue.innerText = this.value + ' g'; updateWeight()" />
                    <span class="slider-limit">650</span>
                </div>
                <button id="mass-increase" class="arrow-btn"><i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
        <div class="springInput">
            <div class="control-header">
                <label for="springSlider">Spring Strength</label>
                <span id="springValue">0.5</span>
            </div>
            <div class="slider-container">
                <span class="slider-label">0.1</span>
                <button id="spring-decrease" class="arrow-btn"><i class="fas fa-chevron-left"></i></button>
                <div class="slider-wrapper">
                    <input type="range" id="springSlider" min="0.1" max="1.0" value="0.5" step="0.1"
                        oninput="springValue.innerText = this.value" />
                    <span class="slider-label">1.0</span>
                </div>
                <button id="spring-increase" class="arrow-btn"><i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
        <div class="ShowCheckBoxs">
            <span> Show</span>
            <div class="checkbox-container">
                <input type="checkbox" id="showAllForces">
                <label for="showAllForces">Forces from Objects</label>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" id="showWeightForce">
                <label for="showWeightForce">Force (Weight) Direction</label>
            </div>
        </div>


        <div class="radioButtons">
            <span> Position</span>
            <div class="checkbox-container">
                <input type="radio" id="NoDisplayScale" name="position" checked>
                <label for="NoDisplayScale"> None</label>
            </div>
            <div class="checkbox-container">
                <input type="radio" id="Rulers" name="position">
                <label for="Rulers"> Rulers</label>
            </div>
        </div>
        <div class="gravity-container">
            <input type="button" id="gravityBtn" value="+" />
            <label for="gravity">Gravity</label>

            <div id="gravity-control">
                <div class="input-group">
                    <label for="gravity">Gravity (m/s²): </label>
                    <div class="limits">
                        <span>0.0</span>
                        <span>15.0</span>
                    </div>
                    <div class="arrow-buttons">
                        <button id="gravity-decrease">◄</button>
                        <input type="range" id="gravity" min="0" max="15" step="0.1" value="9.8"
                            oninput="updateGravityValue(this.value)" />
                        <button id="gravity-increase">►</button>
                    </div>
                    <div class="input-value" id="gravity-value">9.8 m/s²</div>
                </div>

                <div class="input-group">
                    <select id="gravitySelect"
                        onchange="document.getElementById('gravity').value = this.value; document.getElementById('gravity-value').innerText = this.value + ' m/s²';">
                        <option value="9.8">Earth (9.8 m/s²)</option>
                        <option value="1.62">Moon (1.62 m/s²)</option>
                        <option value="3.71">Mars (3.71 m/s²)</option>
                        <!-- <option value="24.79">Jupiter (24.79 m/s²)</option> -->
                    </select>
                </div>
            </div>
        </div>
    </div>


    <div class="controls-left">
       
        <div class="playback-controls">
            <img id="meterRodIcon" src="/images/image_sai.png" alt="Meter Rod Icon">
        </div>
        <div id="wedgeIcon" class="wedge-container"> ▲</div>
       
        <div class="canvasButton">
            <i id="addValuesBtn" class="fas fa-edit"></i>
        </div>
       
        <div class="canvasButton">
            <!-- <i id="rotateBtn" class="fas fa-mobile-alt"></i> -->
            <img id="rotateBtn" src="/images/rotate_16622018.png" alt="rotate_icon">
        </div>
        <div class="reset-container">
            <i id="resetBtn" class="fas fa-redo-alt"></i>
        </div>
    </div>

    <div id="meterRodsContainer" class="hidden">
        <div class="meterRod" id="meterRod1"></div>
        <div class="meterRod" id="meterRod2"></div>

    </div>

    <div class="weights">
        <div class="weight" id="weight1" data-weight="100">100 g</div>
        <div class="weight" id="weight2" data-weight="350">350 g</div>
        <div class="weight" id="weight3" data-weight="250">250 g</div>
        <div class="weight" id="weight4" data-weight="500">500 g</div>

    </div>
    <div id="tableContainer" style="display: none;">
        <form action="/exp/meterExp" method="POST">
            <table>
                <thead>
                    <tr>
                        <th>Weight suspended at meter rod W₁</th>
                        <th>R²⁻¹ W₂⁺W₃⁻¹</th>
                        <th>Observed reading of balance</th>
                        <th>Corrected reading of balance</th>
                        <th>Q²⁻¹ R²⁻¹</th>
                        <th>1st condition of equilibrium ΣF₁=0 P+Q-R=0</th>
                        <th>Position of loops</th>
                        <th>Distance</th>
                        <th>2nd condition of equilibrium Στ=0 P×AG-Q×BG=0</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="number" name="weightSuspended1" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                        <td><input type="number" name="rInverse1" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                        <td><input type="number" name="observedReading1" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                        <td><input type="number" name="correctedReading1" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                        <td><input type="number" name="qInverseRInverse1" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                        <td><input type="number" name="condition1F1_1" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                        <td><input type="number" name="loopPosition1" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                        <td><input type="number" name="distance1" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                        <td><input type="number" name="condition2Tau1" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                      </tr>
                      <tr>
                        <td><input type="number" name="weightSuspended2" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                        <td><input type="number" name="rInverse2" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                        <td><input type="number" name="observedReading2" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                        <td><input type="number" name="correctedReading2" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                        <td><input type="number" name="qInverseRInverse2" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                        <td><input type="number" name="condition1F1_2" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                        <td><input type="number" name="loopPosition2" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                        <td><input type="number" name="distance2" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                        <td><input type="number" name="condition2Tau2" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                      </tr>
                      <tr>
                        <td><input type="number" name="weightSuspended3" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                        <td><input type="number" name="rInverse3" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                        <td><input type="number" name="observedReading3" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                        <td><input type="number" name="correctedReading3" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                        <td><input type="number" name="qInverseRInverse3" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                        <td><input type="number" name="condition1F1_3" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                        <td><input type="number" name="loopPosition3" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                        <td><input type="number" name="distance3" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                        <td><input type="number" name="condition2Tau3" placeholder="Enter value" min="-1000" max="1000" step="0.01"></td>
                      </tr>
                      
                </tbody>
            </table>
            <button type="submit" id="saveInDB">Save Data</button>
        </form>
       

    </div>

    <script src="/js/sai.js"></script>
    <script>
        document.getElementById("rotateBtn").addEventListener("click", function() {
  document.body.classList.toggle("rotated"); // Rotates the screen
  this.classList.toggle("rotated"); // Rotates the icon itself
});

    </script>
</body>

</html>